<script type="text/javascript">
	// Set the globals used by chat.js
	channel = "<%= @chat.channel %>";
	chat_id = "<%= @chat.id %>";
	user_id = "<%= @user.id %>";
</script>

<%= javascript_include_tag "http://js.pusherapp.com/1.9/pusher.min.js" %>

<div id="wrapper">
	<div class="header">
		<div id="title" class="member_list_title">Pusher Chat (<span id="room_count">0</span>)</div>
		<a href="#" id="editNickname">Change Nickname</a>
			<input type="text" value="<%= @user.nickname %>" id="nickname" />
			<a href="#" id="saveNickname">Save</a>
		<a class="right tiptip" href="#" title="<b>How to Invite...</b><br />Simple share the URL of this page with anybody else to invite them to the chatter!">Invite</a>
		<span id="loading"></span>
	</div>
	<ul id="messages">
		<% @messages.each do |message| %>
			<% user = ChatUser.find(message.user_id) %>
			<li<% if user.id == @user.id %> class="you"<% end %>><strong><%= user.nickname %></strong> said:<br><%= auto_link_urls(message.message, { :target => "_blank" }) %></li>
		<% end %>
	</ul>
	<div id="message-overlay"></div>
	<textarea disabled="disabled" id="message" name="message">Type your message here and hit enter...</textarea>
</div>